@import url('https://fonts.googleapis.com/css?family=Fondamento|Nunito:300,400&display=swap');
:root {
    --crna: #292f36;    /* rgb(41, 47, 54) */
    --zelena: #4ecdc4;  /* rgb(78, 205, 196) */
    --bela: #fff;
    --crvena: #ff6b6b;  /* rgb(255, 107, 107) */
    --svetlosiva: #ede8e8;
    --transition: .4s ease;
    --padding: 80px 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Fondamento', cursive;
}
body {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    line-height: 1.7;
}

.container {
    width: 70%;
    margin: auto;
}

button {
    padding: 15px 30px;
    font-size: 1.1rem;
    border-radius: 30px;
    background: transparent;
    border: 2px solid var(--crvena);
    color: var(--crvena);
}

button:hover {
    cursor: pointer;
    transition: var(--transition);
    background: var(--crvena);
    color: var(--bela);
}

/***************************
grid
***************************/
.row::after {
  content: "";
  clear: both;
  display: table;
}
[class*="col-"] {
  float: left;
  padding: 30px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


/***************************
HEADER
***************************/

header {
   text-align: center;
    background-image: linear-gradient(rgba(41,47,54, .9),rgba(41,47,54,.9)),url(img/header.jpg);
    background-position: center;
    background-size: cover;
    padding: 200px 20px;
}

header h1 {
    font-size: 4rem;
    letter-spacing: 2px;
    color: var(--bela);
}

header p {
    font-size: 1.3rem;
    color: var(--bela);
    opacity: .6;
    padding: 20px 0;
}

/***************************
END OF HEADER
***************************/


/***************************
ABOUT
***************************/

.about {
    padding: var(--padding);
    background: var(--svetlosiva);
}

.about .row {
    box-shadow: 0 0 20px gray;
}

.about .imgLeft {
    margin-bottom: 60px;
}

.about .imgLeft .col-6:nth-child(1) {
    background-image: url(img/community.jpg);
    background-position: center;
    background-size: cover;
    height: 400px;
}

.about .imgLeft .col-6:nth-child(2) {
    height: 400px;
    padding: 70px;
    background: var(--bela);
}

.about .imgRight .col-6:nth-child(1) h3,
.about .imgLeft .col-6:nth-child(2) h3 {
    font-size: 2rem;
    letter-spacing: 1px;
}

.about .imgRight .col-6:nth-child(1) p,
.about .imgLeft .col-6:nth-child(2) p {
    font-size: 1.1rem;
    padding: 20px 0;
}

.about .imgRight {
    text-align: right;
}

.about .imgRight .col-6:nth-child(1) {
    background: var(--bela);
    height: 400px;
    padding: 70px;
}

.about .imgRight .col-6:nth-child(2) {
  background-image: url(img/shop.jpg);
  background-position: center;
  background-size: cover;
  height: 400px;
    
}

/***************************
END OF ABOUT
***************************/




/***************************
GALLERY
***************************/

.gallery {
    padding: var(--padding);
}

.gallery h2 {
    font-size: 3rem;
    letter-spacing: 2px;
    text-align: center;
    color: var(--crvena);
    padding-bottom: 30px;
}

.gallery img {
    width: 100%;
    box-shadow: 0 0 20px gray;
    transition: transform 3s ease-in-out;
}

.gallery img:hover {
    opacity: .5;
    transition: var(--transition);
    transform: scale(1.3);
   
}

.gallery .col-3 {
    padding: 30px;
}

.gallery button {
    display: block;
    margin: auto;
}


/***************************
END OF GALLERY
***************************/



/***************************
COMMUNITY
***************************/

.community {
    text-align: center;
    background-image:linear-gradient(rgba(41, 47, 54, .9), rgba(41, 47, 54, .9)),url(img/community-section.jpg);
    background-position: center;
    background-size: cover;
    padding: 200px 20px;
    color: var(--bela);
    background-attachment: fixed;
}

.community h2 {
    font-size: 3rem;
}

.community p {
    font-size: 1.3rem;
    opacity: .8;
    padding: 20px 0;
}

/***************************
END OF COMMUNITY
***************************/



/***************************
FOOTER
***************************/

footer {
    background: var(--crvena);
    padding: var(--padding);
}

.footer-container {
    width: 50%;
    margin: auto;
}

footer h2 {
    color: var(--crna);
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
}

footer label, footer input, footer textarea {
    display: block;
    width: 100%;
    color: var(--crna);
    padding: 10px;
    font-size: 1.2rem;
    border: none;
}


footer input,
footer textarea {
    background: rgba(255,255,255, .2);
    resize: none;
    border: none;
}

::placeholder {
    color: rgba(0, 0, 0, .3);
}

footer .row:nth-child(3) {
    text-align: center;
}

footer .row:nth-child(3) a {
    color: var(--crvena);
    background: var(--bela);
    margin: 0 20px;
    font-size: 2rem;
    padding: 20px;
    width: 70px;
    height: 70px;
    display: inline-block;
    border-radius: 50%;
}

footer .row:nth-child(3) a i {
    position: relative;
    top: -10px;
}

footer button {
    border: 2px solid var(--bela);
    color: var(--bela);
    display: block;
    margin: 30px auto;
}

footer button:hover {
    background: var(--bela);
    color: var(--crvena);
    transition: var(--transition);
}

footer .row:nth-child(3) a:hover {
    background: var(--crvena);
    color: var(--bela);
    transition: var(--transition);
    transform: rotate(360deg);
}


/***************************
END OF FOOTER
***************************/

/***************************
R E S P O N S I V E
***************************/
@media only screen and (max-width: 768px) {

    
}


